/* InfoBlock.module.css */

/* в контактах первая строка - телефон почта
вторая - тг гитхаб
сайт в отдельном микро-блоке */
.container {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background-color: var(--bg-section);
    backdrop-filter: var(--filter);
    border: var(--border);
}

.sections {
    gap: var(--spacing-lg);
    display: flex;
    flex-grow: 1;
    max-height: 440px;
}

.block {
    background: var(--bg-card);
    backdrop-filter: var(--filter);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.photoSection {
    max-width: 256px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    gap: var(--spacing-md);
}

.photoPlaceholder img {
    border-radius: var(--border-radius);
}

.skillsBlock {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    padding: calc(var(--spacing-sm) + 3px);
}

.skillsList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
}

.skillsList li {
    font-family: var(--font-code);
    height: min-content;
    width: min-content;
    padding: var(--spacing-xs) var(--spacing-sm);
    background: var(--bg-card);
    border-radius: calc(var(--border-radius) * 0.5);
    color: var(--accent-blue);
}

.skillsBlock::-webkit-scrollbar {
    width: 0;
}

.sliderBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--spacing-sm) 0;
}

.horizontalSliderBlock {
    min-width: unset;
    width: auto;
    height: 75px;
    border-radius: var(--border-radius);
}

.contentSection {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: var(--spacing-md);
}

.title {
    font-weight: 600;
    color: var(--text-color);
}

.linksBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: calc(var(--spacing-sm) + 3px);
    background: var(--bg-card);
    backdrop-filter: var(--filter);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.linksRow {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.linkItem {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: var(--spacing-xs) calc(var(--spacing-sm) + 2px);
    background: var(--bg-card);
    border-radius: calc(var(--border-radius) * 0.5);
}

.contactIcon {
    width: 20px;
}

.linkItem a {
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--accent-blue);
}

.linkItem span {
    color: var(--primary-light);
    margin: 0 0 3px 0;
}

.siteLinkRow {
    padding: var(--spacing-xs) calc(var(--spacing-sm) + 3px);
}

.siteLinkRow a {
    line-height: 1.8;
    font-family: var(--font-code);
    padding: var(--spacing-xs) var(--spacing-sm);
    background: var(--bg-card);
    border-radius: calc(var(--border-radius) * 0.5);
    color: var(--accent-blue);
}


.textBlock {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: calc(var(--spacing-sm) + 3px);
}

.contentText {
    max-width: 100%;
    font-size: var(--font-size);
    overflow-y: auto;
    text-align: justify;
    line-height: 1.35;
}

.homeButton {
    order: -1;
    width: 100%;
    backdrop-filter: var(--filter);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    border: var(--border);
    height: 45px;
    color: var(--accent-blue);
    display: none;
}

@media (min-width: 1920px) {
    .sections {
        max-height: 520px;
    }
    .horizontalSliderBlock {
        height: 100px;
    }
}

@media (max-width: 1280px) {
    .sections {
        max-height: 380px;
    }
    .photoSection {
        width: 196px;
    }
    .container {
        padding: calc(var(--spacing-sm) + 2px);
    }
    .container,
    .photoSection,
    .contentSection {
        gap: var(--spacing-md);
    }
}

@media (max-width: 960px) {
    .sections {
        max-height: 480px;
    }
    .photoSection {
        width: 200px;
        gap: var(--spacing-md);
    }
    .contentSection {
        min-height: 100%;
        min-width: unset;
    }
    .container {
        gap: var(--spacing-md);
    }
    .linkIcon {
        width: 18px;
    }
}

@media (max-width: 825px) {
    .homeButton {
        display: block;
    }
}

@media (max-width: 615px) {
    .linkIcon {
        width: 16px;
    }
    .linksBlock {
        padding: var(--spacing-xs) var(--spacing-sm);
    }
    .skillsBlock {
        padding: var(--spacing-sm);
    }
    .textBlock {
        padding: var(--spacing-sm);
    }
}

@media (max-width: 570px) {
    .contentSection {
        justify-content: space-between;
    }
    .skillsBlock {
        max-height: 64px;
        height: 100%;
        flex-grow: unset;
    }
    .linksRow {
        flex-wrap: nowrap; 
    }
    /* или wrap */
    .horizontalSliderBlock {
        height: 60px;
        min-height: unset;
    }
}

@media (max-width: 470px) {
    .photoSection {
        width: 135px;
        
    }
    .contentSection {
        min-width: auto;
        justify-content: space-between;
    }
    .linkIcon {
        width: 14px;
    }
}

@media (max-width: 380px) {
    .photoSection {
        flex-grow: 1;
        gap: var(--spacing-sm);
    }
    .contentSection {
        
        gap: var(--spacing-sm);
    }
    .sections {
        gap: var(--spacing-sm);
    }
}
