/* InfoBlock.module.css */
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@400;500&display=swap');
.container {
  max-width: 70%;
  width: 100%;
  height: 100%;
  padding: 0px;
  display: grid;
  gap: 0;
  grid-template-columns: auto 1fr;
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  background-color: var(--bg-section);
}

/* Секция с фото */
.photoSection {
  max-width: 256px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.photoPlaceholder {
  margin-bottom: var(--spacing-lg);
  border-radius: var(--border-radius);
  
}

.photoPlaceholder img {
  border: 3px solid var(--border-color);
  border-radius: var(--border-radius);
}

.stackBlock {
  flex-grow: 1;
  background-color: var(--bg-card);
  border-radius: var(--border-radius);
  min-height: 100px;
  padding: var(--spacing-md);
  text-align: justify;
}

/* Секция с контентом */
.contentSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: var(--spacing-lg);
  gap: var(--spacing-lg);
}

.title {
  font-size: 34px;
  font-weight: 600;
  color: var(--text-color);
}

.contactsBlock {
  background-color: var(--bg-card);
  padding: calc(var(--spacing-md) - 3px) var(--spacing-md);
  border-radius: var(--border-radius);
}

.contactItem {
  margin: 3px 0;
}

.textBlock {
  background-color: var(--bg-card);
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  flex-grow: 1; /* Растягивается на всю доступную высоту */
}

.contentText {
  line-height: 1.4;
  margin: 0;
}


@media (max-width:1330px) {
  .container {
    max-width: 100%;
    height: auto;
  }
}