/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.productCard {
    height: 100%;
    min-width: 260px;
    width: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    background: var(--bg-card);
    -webkit-backdrop-filter: var(--filter);
    backdrop-filter: var(--filter);
    border: var(--border);
    border-radius: var(--border-radius);
    -webkit-box-shadow: inset var(--shadow);
    box-shadow: inset var(--shadow);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.productCard:hover {
    width: 100%;
    border: 1px solid var(--accent-blue);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    background: var(--bg-color);
}

.productCard:hover .about {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.productCard img {
    height: 48px;
    aspect-ratio: 1;
    border-radius: var(--border-radius);
}

.about {
    max-width: calc(100% - 60px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    overflow: hidden;
}

.productName {
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    color: var(--primary-light);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.role {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: calc(var(--font-size) * 0.85);
    font-family: var(--font-code);
    padding: var(--spacing-xs) var(--spacing-sm);
    background: var(--bg-card);
    border-radius: calc(var(--border-radius) * 0.5);
    color: var(--accent-blue);
}

.splide {
    height: 100%;
    overflow: visible;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.slide {
    overflow: hidden;
    height: 100%;
}

.splideTrack {
    height: 100%;
}

.splideList {
    width: 0px;
}

.splidePagination {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: unset;
}

:global(.splide__pagination__page.is-active) {
    background-color: var(--accent-blue);
}

@media screen and (max-width: 960px) and (min-width: 570px) {
    .splideList {
        width: inherit;
    }
    .splide {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 90px;
        margin: 0 var(--spacing-sm);
    }
    .splideTrack {
        width: 100%;
    }
    .slide {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
    }
    .productCard {
        max-height: 75px;
        width: 175px;
        min-width: unset;
        padding: var(--spacing-sm) var(--spacing-md);
        background: none;
        margin-left: var(--spacing-sm);
    }
    .role {
        white-space: wrap;
    }
    .about {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
    }
    .splidePagination {
        margin: 0 2px;
    }

    .productCard img {
        height: 65%;
        aspect-ratio: 1;
    }
}

@media (max-width: 570px) {
    .splide {
        height: 60px;
        padding: 0;
        margin: 0;
    }

    .productCard {
        width: 200px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: var(--spacing-md) var(--spacing-sm);
    }
    .productCard img {
        height: 36px;
    }
    .about {
        padding: var(--spacing-xs) 0;
        gap: 2px;
        width: 100%;
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
    }
}

@media (hover: none) {
    .productCard:hover {
        border: 1px solid var(--accent-blue);
        -webkit-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);
        background: var(--bg-color);

        width: 260px;

        background: var(--bg-card);
        border: var(--border);
    }

    .productCard:hover .about {
        max-width: calc(100% - 60px);
    }
}
