.card {
    display: flex;
    align-items: center;
    height: 17.24%;
    max-height: 130px;
    width: 100%;
    background-color: var(--bg-section);
    border-radius: var(--border-radius);
    padding: var(--spacing-sm);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.1);
    transition: var(--transition);
}

.cardImg {
    height: 100%;
    aspect-ratio: 1;
    margin-right: 5px;
}
.cardImg img {
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    border: 3px solid black;
}
.cardInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: var(--spacing-sm);
    width: auto;
    
}
.textBlock {
    background-color: var(--bg-card);
    width: 100%;
    padding: 3px 5px;
    margin-bottom: 1px;
    border-radius: calc(var(--border-radius) * 0.5);
    white-space: nowrap;
}

.name {
    white-space: nowrap;
}


@media (max-width: 1330px) {
    .card {
        height: 100%;
        width: auto;
    }
    .name {
        white-space: wrap;
    }
}

@media (max-width: 1226px) {
    .cardInfo {
        width: 100%;
    }
    .card {
        width: 340px;
    }
}

@media (max-width: 715px) {
    /* реализовать слайдер */
}