.mainSection {
    min-height: 100svh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mainSectionTitle {
    text-align: center;
    margin-bottom: var(--spacing-lg);
}

.mainBlock {
    width: 100%;
    height: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: calc(var(--spacing-xl) - 10px);
}

.helloBlock {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 900px;
}

.productsSection {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
}

.productSectionTitle {
    padding-top: 60px;
    text-align: center;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    height: 60px;
    border-radius: 0 !important;
    border: none !important;
    border-top: var(--border) !important;
}

footer h4 {
    vertical-align: middle;
    text-transform: uppercase;
}

@media (max-width: 1595px) {
    .mainBlock {
        max-height: 550px;
    }
}

@media (max-width: 1280px) {
    .mainBlock {
        height: auto;
        gap: var(--spacing-lg);
        max-width: 1200px;
        max-height: 478px;
    }
}

@media (max-width: 1100px) {
}

@media (max-width: 960px) {
    .mainBlock {
        max-height: 480px;
    }
}

@media (max-width: 825px) {
    .helloBlock {
        max-width: 500px;
        padding: var(--spacing-sm);
        margin: 1% 0;
    }
    .mainBlock {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 805px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        max-height: unset;
    }
    .mainSectionTitle {
        margin-bottom: var(--spacing-sm);
    }
}

@media (max-width: 570px) {
    .mainSectionTitle {
        margin: var(--spacing-md) 0;
    }
    .mainSection.mobileOpened {
        height: 100svh;
        min-height: unset;
    }
    .mainBlock {
        max-height: unset;
        height: auto;
        min-height: 0;
        margin-bottom: var(--spacing-lg);
    }
    .mainBlock.mobileOpened {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .productSectionTitle {
        font-size: calc(var(--font-size) * 2.4);
    }
}

@media (max-width: 440px) {
    .mainSectionTitle {
        margin-top: var(--spacing-lg);
    }
}

@media (max-height: 600px) {
    .mainSection {
        min-height: 600px !important;
        flex-shrink: 0;
    }
}
