/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/* max-height: 155px; */
.skillsBlock {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex: 1;
    width: 100%;
    min-height: 45px;
    height: 100%;
    overflow-y: auto;
    padding: calc(var(--spacing-sm) + 3px);
}

.skillsList {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
}

.skillsList li {
    font-family: var(--font-code);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: calc(var(--spacing-xs) - 1px) var(--spacing-sm);
    background: var(--bg-card);
    border-radius: calc(var(--border-radius) * 0.5);
    color: var(--accent-blue);
}

@media (max-width: 615px) {
    .skillsBlock {
        padding: var(--spacing-sm);
    }
}

@media (max-width: 570px) {
    .skillsBlock {
        min-height: 40px;
        max-height: 55px;
    }
}

@media (prefers-color-scheme: light) {
    .skillsList li {
        background: var(--bg-card-light);
    }
}
