/* Main.module.css */
.mainSection {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
}
.mainBlock {
  margin-top: var(--spacing-lg);
  width: 100%;
  height: auto;
  max-height: min-content;
  display: flex;
  flex: 1;
  justify-content: center;
  gap: var(--spacing-xl);
}

.cardColumn {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-content: space-between;
  gap: var(--spacing-md);
}




@media (max-width: 1280px) {
  .mainBlock {
    gap: var(--spacing-lg);
    max-width: 1000px;
  }
}


@media (max-width: 768px) {
  .mainBlock {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-lg);
    max-height: none;
    height: auto;
    max-width: 950px;
    width: 100%;
    margin-top: var(--spacing-lg);
  }
  .cardColumn {
    order: 1;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--spacing-md);
  }
  .title {
    margin-top: var(--spacing-xl);
  }
}


@media (max-width: 560px) {
  .cardColumn {
    display: none;
  }
}

@media (max-width: 440px) {
  .mainBlock {
    margin-top: var(--spacing-md);
  }
  .title {
    margin-top: var(--spacing-lg);
  }
}

@media (max-width: 380px) {
  .title {
    margin-top: var(--spacing-md);
  }
}